body {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}

.home {
  display: flex;
}

.home header {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  background: #f3f3f3;
}

.none-selected {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.none-selected img {
  height: 100px;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.ace_editor {
  font-size: 1em;
  flex-grow: 1;
}

.sidepane {
  width: 12%;
  min-width: 200px;
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.sidepane .selected {
  background: lightgray;
  cursor: default;
}
.sidepane .menu-icon {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.sidepane li:hover .menu-icon,
.sidepane .selected + div .menu-icon {
  opacity: 1;
}

.snippet-list {
  margin-top: 10px;
  flex-grow: 1;
  overflow: auto;
}

.snippet-row {
  background-color: transparent;
  padding: 10px;
  font-size: 1.2em;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 300ms;
}
.snippet-row.selected {
  background-color: #d8d8d8;
  cursor: default;
  border-radius: 0 0 2px 2px;
}
.snippet-row:not(.selected):hover {
  background-color: #ffffff;
}

.sidepane input {
  width: 100%;
}

button.create {
  background-color: #4c6ffc;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  outline: none;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s;
}
button.create:hover {
  background-color: #a3b5ff;
}

button.delete {
  background-color: #fc4c4c;
  color: white;
  padding: 5px 15px;
  margin: 10px auto;
  outline: none;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s;
}
button.delete:hover {
  background-color: #ff7c7c;
}

.save-error {
  color: red;
  text-decoration: none;
}
.error {
  margin: 50px auto;
  max-width: 600px;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}
.error h1,
.error p,
.error pre,
.error a {
  text-align: center;
}
.error pre {
  width: 100%;
  color: red;
  white-space: pre-wrap;
}
.error h1 {
  margin: 10px 0 0;
}

.error a {
  margin-top: 20px;
}

.error .action,
.error a {
  font-size: 0.7em;
  display: block;
}

.switch-wrapper {
  position: relative;
}
.switch-wrapper > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
