.settings {
  background: #eeeeee;
  overflow: auto;
  padding-bottom: 50px;
}

.settings .title {
  font-size: 1.5em;
  font-weight: normal;
}

.settings header > div {
  display: flex;
  justify-content: center;
}
.settings header button {
  position: absolute;
  left: 20px;
}
.settings header button span svg {
  color: white;
}

.settings main {
  max-width: 800px;
  margin: auto;
}

.settings .settings-group > h2 {
  color: gray;
}

.settings .about > div {
  text-align: center;
  padding: 20px;
}
.settings .logo {
  height: 150px;
}
.settings .about .version {
  margin: 10px 0 0;
  color: gray;
}
.settings .about .author {
  margin: 10px 0 0;
}
.settings .about a {
  text-decoration: none;
}
.settings .repo {
  margin-top: 20px;
}

.settings .gist-id-input {
  width: 286px;
}

.settings .settings-input {
  margin-right: 15px;
}

.settings .small-number-input {
  width: 50px;
}

.settings .small-number-input input {
  text-align: center;
}

.settings .toggle-access-token-button {
  padding: 5px;
  margin: 0 8px;
}

.settings .access-token-input-large {
  width: 354px;
}

.settings .access-token-input-small {
  width: 218px;
}
